.services{
  .main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);

    h2{
      font-size: var(--normal-font);
      font-weight: 700;
    }
    .section-services{

    }
  }
}